@font-face {
    font-family: 'justfont';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/justfont/open-huninn-font@master/font/jf-openhuninn-1.1.ttf') format("truetype");
  }

@font-face {
    font-family: 'GenSen R';
    font-display: swap;
    src: url('/GenSenRounded-R.ttc') format("truetype");
  }

@font-face {
    font-family: 'Nowar m';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/nowar-fonts/Nowar-Rounded/source/noto/NotoSans-Medium.ttf') format("truetype");
  }